<body class="login-body">

<%= form_with model: @user, url: user_registration_path, class: 'main', local: true do |f| %>

  <div class="sidenav">
    <div class="login-main-text">
      <h2>Application<br> Signup Page</h2>
      <p>Login or Signup from here to access.</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="devise-error-message">
      <%= render "devise/shared/error_messages", resource: @user %>
    </div>

    <div class="row g-3 sign-up-form">
      <div class="form-label">
        <label>Company Name</label>
        <%= f.text_area :name, class:"login-form form-control", id:"name", placeholder:"Co., Ltd. Please do not attach" %>
      </div>
      <div class="form-label">
        <label>Email</label>
        <%= f.email_field :email, class:"login-form form-control", id:"email", placeholder:"Please enter your PC email address.", autofocus: true %>
      </div>
      <div class="form-label">
        <label>Password</label>
        <%= f.password_field :password, class:"login-form form-control", id:"password", placeholder:"6 characters maximum" %>
      </div>
      <div class="form-label">
        <label>Password Confirmation</label>
        <%= f.password_field :password_confirmation, class:"login-form form-control", id:"password-confirmation", placeholder:"Please input your password again for confirmation" %>
      </div>
    </div>
    <%= link_to 'Login', new_user_session_path, class: "btn btn-light btn-orange" %>
    <%= f.submit "Signup", class:"btn btn-light btn-green" %>
  </div>

<% end %>

</body>