<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<%= form_with model: @user, url: user_session_path, class: 'main', local: true do |f| %>

  <div class="sidenav">
    <div class="login-main-text">
      <h2>Application<br> Login Page</h2>
      <p>Login or register from here to access.</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <div class="form-group">
        <label>Email</label>
        <%= f.email_field :email, class:"form-control", id:"email" %>
      </div>
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, class:"form-control", id:"password" %>
      </div>
    </div>
      
    <%= f.submit "Login", class:"btn btn-login-green" %>
    <%= f.submit "Register", class:"btn btn-registration-orange" %>
  </div>

<% end %>
