<%= form_with model: @user, url: user_session_path, class: 'main', local: true do |f| %>

  <div class="sidenav">
    <div class="login-main-text">
      <h2>Application<br> Login Page</h2>
      <p>Login or Signup from here to access.</p>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="devise_error_message">
      <%= render "devise/shared/error_messages", resource: @user %>
    </div>

    <div class="log-in-form">
      <div class="form-group">
        <label>Email</label>
        <%= f.email_field :email, class:"form-control", id:"email", autofocus: true %>
      </div>
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, class:"form-control", id:"password" %>
      </div>
    </div>
      
    <%= f.submit "Login", class:"btn btn-light btn-green" %>
    <%= link_to 'Signup', new_user_registration_path, class: "btn btn-light btn-orange" %>
  </div>

<% end %>
